{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags pages_tags %}

{% block body_class %}category-page{% endblock %}

{% block outter_content %}
	<div class="main main-raised">
		<div class="container">
			<div class="section text-center section-landing">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="title">{{ self.title }}</h2>
                        {% if self.intro %}
                            {{ self.intro|richtext }}
                        {% endif %}
                    </div>
                </div>

				<div class="row">
					{% with page.get_children.live as pages %}
						{% for page in pages %}
							{% image page.specific.thumbnail fill-335x240 as theimage %}
							<div class="col-md-4">
								<div class="card">
									<div class="content">
										<a href="{% pageurl page %}">
											<img src="{{ theimage.url }}" alt="{{ theimage.alt }}" />
										</a>
										<h4 class="pull-left title">
											{{ page.title }}
											<span>{{ page.specific.timestamp|date:'y-m-j' }}</span>
										</h4>

										<a href="{% pageurl page %}" class="btn btn-sm btn-default btn-round pull-right">
											查看
										</a>
									</div>

								</div>
							</div>
						{% endfor %}
					{% endwith %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
