{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags pages_tags %}

{% block body_class %}gallery-page{% endblock %}

{% block outter_content %}
	<div class="main main-raised">
		<div class="container">
			<div class="section text-center section-landing">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="title">{{ self.title }}</h2>
                        {% if self.intro %}
                            {{ self.intro|richtext }}
                        {% endif %}
                    </div>
                </div>

				<div class="row" id="carousel">
					<div class="col-md-8 col-md-offset-2">
						<!-- Carousel Card -->
						<div class="card card-raised card-carousel">
							<div id="carousel-gallery" class="carousel slide" data-interval="3000" >
								<!-- Indicators -->
								<ol class="carousel-indicators">
									{% for image in self.gallery_images.all %}
										<li data-target="#carousel-gallery" data-slide-to="{{ forloop.counter0 }}"
											{% if forloop.first %}class="active"{% endif %}>
										</li>
									{% endfor %}
								</ol>

								<!-- Wrapper for slides -->
								<div class="carousel-inner">
									{% for img in self.gallery_images.all %}
										{% image img.image width-750 as theimage %}
										<div class="item {% if forloop.first %}active{% endif %}">
											<img src="{{ theimage.url }}" alt="{{ theimage.alt }}">
											<div class="carousel-caption">
												<h4>{{ img.caption }}</h4>
											</div>
										</div>
									{% endfor %}
								</div>

								<!-- Controls -->
								<a class="left carousel-control" href="#carousel-gallery" data-slide="prev">
									<i class="material-icons">keyboard_arrow_left</i>
								</a>
								<a class="right carousel-control" href="#carousel-gallery" data-slide="next">
									<i class="material-icons">keyboard_arrow_right</i>
								</a>
							</div>
						</div>
						<!-- End Carousel Card -->
					</div>
				</div>
			</div>
		</div>
	</div>
    {% include 'pages/includes/prev_next.html' %}
{% endblock %}

{% block extra_js %}
	<script src="{% static "js/jquery.mobile.custom.min.js" %}"></script>
	<script>
		$(document).ready(function() {
        	$("#carousel-gallery").swiperight(function() {
				$(this).carousel('prev');
			});
			$("#carousel-gallery").swipeleft(function() {
			  $(this).carousel('next');
		    });
		});
	</script>
{% endblock %}
