{% extends "base.html" %}
{% load static %}

{% block body_class %}home-page{% endblock %}

{% block header %}

{% endblock header %}

{% block outter_content %}
	<div class="main main-raised">
		<div class="container">
			<div class="section text-center section-landing">
				<div class="row">
					<div class="col-md-4">
						<div class="info">
							<div class="icon icon-primary">
								<img src="{% static 'img/lego.png' %}" style="height: 180px; width: 180px;" />
							</div>
							<h4 class="info-title">First Feature</h4>
						</div>
					</div>
					<div class="col-md-4">
						<div class="info">
							<div class="icon icon-success">
								<img src="{% static 'img/lego.png' %}" style="height: 180px; width: 180px;" />
							</div>
							<h4 class="info-title">Second Feature</h4>
						</div>
					</div>
					<div class="col-md-4">
						<div class="info">
							<div class="icon icon-danger">
								<img src="{% static 'img/lego.png' %}" style="height: 180px; width: 180px;" />
							</div>
							<h4 class="info-title">Third Feature</h4>
						</div>
					</div>
					<div class="col-md-4">
						<div class="info">
							<div class="icon icon-primary">
								<img src="{% static 'img/lego.png' %}" style="height: 180px; width: 180px;" />
							</div>
							<h4 class="info-title">First Feature</h4>
						</div>
					</div>
					<div class="col-md-4">
						<div class="info">
							<div class="icon icon-success">
								<img src="{% static 'img/lego.png' %}" style="height: 180px; width: 180px;" />
							</div>
							<h4 class="info-title">Second Feature</h4>
						</div>
					</div>
					<div class="col-md-4">
						<div class="info">
							<div class="icon icon-danger">
								<img src="{% static 'img/lego.png' %}" style="height: 180px; width: 180px;" />
							</div>
							<h4 class="info-title">Third Feature</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
