.category-page .btn-default {
  background-color: rgb(68, 183, 139);
}

.simple-page .section{
  padding-top: 40px;
}

.simple-page h2.title {
  margin: 0;
}

.simple-category-page h2, .simple-category-page h3, .simple-category-page .intro,
.simple-page h2.title, .simple-page .page-body, .simple-page .rich-text p  {
  text-align: left;
}

.simple-category-page h3.title{
  border-bottom: 1px solid #cccccc;
}

.simple-page .page-body img{
  max-width: 100%;
}

.card {
    border-radius: 8px;
    position: relative;
    margin-bottom: 60px;
}
.card .thumbnail {
    border: 0 none;
    padding: 0;
    margin: 8px 0 0 0;
    position: relative;
    background: transparent;
}

.card .thumbnail>img, .card .thumbnail a>img {
    border-radius: 8px 8px;
    box-shadow: 0 25px 20px -21px rgba(0,0,0,0.57);
    width: 95%;
}
.card .card-info {
    padding: 15px;
    border-radius: 0 0 12px 12px;
}
.card-info a:not(.btn) {
    color: #434343;
}
.card-info h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 22px;
}