{% load wagtailcore_tags %}

{% if self.depth > 3 %}{# Previous and next buttons are not relevant for the home page and categories #}
  {% with prev=self.get_prev_siblings.live.first next=self.get_next_siblings.live.first %}
    <nav>
      <ul class="pager">
        {% if prev %}
        <li class="previous">
          <a href="{% pageurl prev %}"
             {% if prev %}title="{{ prev }}"{% endif %}>
             <i class="glyphicon glyphicon-menu-left" aria-hidden="true"></i> 上一篇
          </a>
        </li>
        {% endif %}
        {% if next %}
        <li class="next">
          <a href="{% pageurl next %}"
              {% if next %}title="{{ next }}"{% endif %}>
            下一篇 <i class="glyphicon glyphicon-menu-right" aria-hidden="true"></i>
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>
  {% endwith %}
{% endif %}
